<ion-view view-title="银期转账">
    <ion-content class="banktransfer">
        <div class="list">
            <div class="item item-input item-select">
                <div class="input-label">
                    银行账号
                </div>
                <select>
                    <option>工商银行 6222***6789</option>
                    <option selected>建设银行 6222***1234</option>
                </select>
            </div>
            <div class="item item-input">
                <div class="input-label">
                    银行卡密码
                </div>
                <input type="password" placeholder="请输入密码"/>
            </div>
            <div class="item item-input">
                <div class="input-label">
                    期货余额
                </div>
                <div class="item-content-balance">
                    234432
                </div>
            </div>
            <div class="item item-input">
                <div class="input-label">
                    银行余额
                </div>
                <div class="item-content-balance">
                    234432
                    <button class="button button-stable button-small">
                        查询
                    </button>
                </div>
            </div>
            <div class="item item-input">
                <div class="input-label">
                    转账金额
                </div>
                <input type="text" placeholder="请输入转账金额"/>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col">
                        <button class="button button-stable button-block">
                            银行转期货
                        </button>
                    </div>
                    <div class="col">
                        <button class="button button-stable button-block">
                            期货转银行
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
