<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content drag-content="false">

        <ion-nav-bar class="bar bar-dark" align-title="center">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>

            <ion-nav-buttons side="right">
                <!--<button ng-if="$state.current.name=='app.quote'" class="button button-icon button-clear ion-search"-->
                <!--ng-click="search()">-->
                <!--</button>-->
                <a class="button button-icon button-clear ion-person" ng-if="login_states.type=='none'" ng-click="loginModal.show()"
                   >
                </a>
                <a class="button " ng-if="login_states.type=='sim'" href="#/app/userinfo">
                    模拟
                </a>
                <a class="button " ng-if="login_states.type=='act'" href="#/app/userinfo">
                    实盘
                </a>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view>
        </ion-nav-view>

    </ion-side-menu-content>

    <ion-side-menu side="left">

        <ion-content style='padding-top: 44px'>

            <div class="list-header">
                合约报价
            </div>

            <div class="list list-borderless">

                <a menu-close class="item item-icon-left item-dark " ng-repeat="(key, name) in inslist"
                   ng-click="menuNav('app.tabs.quote',key)">
                    <i class="icon ion-email"></i>
                    {{ name }}
                </a>

                <a menu-close class="item item-icon-left item-dark " href="#/app/tabs/custom" >
                    <i class="icon ion-email"></i>
                    自选合约
                </a>
            </div>

            <div class="list-header">
                账户交易
            </div>

            <div class="list list-borderless">
                <a menu-close class="item item-icon-left item-dark " href="#/app/tabs/position">
                    <i class="icon ion-ios-cart"></i>
                    持仓总览
                </a>

                <a menu-close class="item item-icon-left item-dark " href="#/app/tabs/transaction">
                    <i class="icon ion-ios-clock"></i>
                    交易历史
                </a>

                <a menu-close class="item item-icon-left item-dark " href="#/app/moneyhistory">
                    <i class="icon ion-person-stalker"></i>
                    资金历史
                </a>

                <a menu-close class="item item-icon-left item-dark " href="#/app/banktransfer">
                    <i class="icon ion-person-stalker"></i>
                    银期转账
                </a>
            </div>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>
