<ion-view view-title="账户持仓">
  <ion-content class="pos_container">
      <div class="account_info">
          <div class="row">
              <div class="col col-15">账户资金</div>
              <div class="col col-33 balance" align="right"></div>
              <div class="col col-15 col-offset-4">占用资金</div>
              <div class="col col-33 using" align="right"></div>
          </div>
          <div class="row">
              <div class="col col-15">可用资金</div>
              <div class="col col-33 available" align="right"></div>
              <div class="col col-15 col-offset-4">风险度</div>
              <div class="col col-33 risk_ratio" align="right"></div>
          </div>
          <div class="row">
              <div class="col col-15">持仓总手</div>
              <div class="col col-33 position_volume" align="right"></div>
              <div class="col col-15 col-offset-4">浮动盈亏</div>
              <div class="col col-33 float_profit" align="right"></div>
          </div>
      </div>

      <div class="pos_list"></div>

  </ion-content>
</ion-view>
