<ion-view  view-title="主力合约" class="qt_container inslist_type_main" table-addon>
    <ion-content direction = "xy"
                 on-scroll="followScroll()"
                 has-bouncing = 'false'
                 delegate-handle="handler"
                 overflow-scroll="false">
        <div>
            <table class="quote qt">
                <thead>
                <tr class="odd" table-addon-odd>
                    <td>合约代码</td>
                </tr>
                <tr class="even" table-addon-even>
                    <td>合约名称</td>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </ion-content>
</ion-view>