
<ion-tabs class="tabs-icon-top tabs-dark tabs-color-mark">

    <ion-tab title="报价" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/app/tabs/quote/main">
        <ion-nav-view name="tab-quote"></ion-nav-view>
    </ion-tab>

    <ion-tab title="自选" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/app/tabs/custom">
        <ion-nav-view name="tab-custom"></ion-nav-view>
    </ion-tab>

    <ion-tab title="持仓" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/app/tabs/position">
        <ion-nav-view name="tab-position"></ion-nav-view>
    </ion-tab>

    <ion-tab title="成交" icon-off="ion-ios-clock-outline" icon-on="ion-ios-clock" href="#/app/tabs/transaction">
        <ion-nav-view name="tab-transaction"></ion-nav-view>
    </ion-tab>

</ion-tabs>
