# Mac
.DS_Store
hooks
.svn
platforms
plugins
res/drawable-port-hdpires/drawable-port-ldpires/drawable-port-mdpires/drawable-port-xhdpires/drawable-port-xxhdpires/drawable-port-xxxhdpires/mipmap-hdpires/mipmap-ldpires/mipmap-mdpires/mipmap-xhdpires/mipmap-xxhdpires/mipmap-xxxhdpi