/*login*/

ion-modal-view.login ion-content{
    background-repeat:no-repeat;
    background-position:top right;
    background-size: cover;
}

ion-modal-view.login ion-content.sim{
    background-image: url(/assets/img/pc-sim-bg.jpg);
}

ion-modal-view.login ion-content.act{
    background-image: url(/assets/img/pc-act-bg.jpg);
}

ion-modal-view.login ion-content .login-content{
     margin: 30px;
}

ion-modal-view.login ion-content .login-content .logo{
    width: 40px;
}

ion-modal-view.login ion-content .login-content h3{
    margin-top: 0px;
    margin-bottom: 5px;
}

ion-modal-view.login ion-content.sim .login-content a{
    font-size: 16px;
    color: #b6b0d8;
}

ion-modal-view.login ion-content.act .login-content a{
    font-size: 16px;
    color: #b6b0d8;
}

ion-modal-view.login ion-content .login-content .list{
    margin: 20px 0px;
}

ion-modal-view.login ion-content .login-content .item{
    border: none;
    padding: 0px;
}

ion-modal-view.login ion-content.sim  input{
    background-color : transparent;
    color: #fff;
    border-bottom: 1px solid #6a6da3;
}



/*register*/

ion-modal-view.register{}

/*changepwd*/

ion-modal-view.changepwd{}