

/*transaction*/
.transaction .datepickercontainer.row{
    padding: 12px 0px;
}

.transaction .datepickercontainer .col{
    padding: 0px 4px;
}

.transaction .datepickercontainer .col-40{
    flex: 0 0 40%;
    max-width: 40%;
}
.transaction .datepickercontainer .col-16{
    flex: 0 0 14%;
    max-width: 14%;
}
.transaction .datepickercontainer .col-4{
    padding-top: 6px;
    flex: 0 0 6%;
    max-width: 6%;
}

.transaction .datepickercontainer input{
    border-radius: 4px;
    padding-left: 2px;
    height: 32px;
    width: 100%;
}

.transaction .col{
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
    word-break: normal;
    overflow: hidden;
}


/*banktransfer*/
.banktransfer .item-content-balance{
    height : 34px;
    line-height: 34px;
}

.banktransfer .row button{
    padding: 0px 20px;
}

.banktransfer .row{
    padding: 0px 0px;
}
.banktransfer .col{
    padding: 0px 5px;
}

/*userinfo*/

.userinfo .bar {
    position: relative;
}

/*posdetail*/


.posdetail .bar {
    position: relative;
}

.posdetail .bar .icon {
    vertical-align: middle;
}

.posdetail label{
    margin-bottom: 2px;
}

.posdetail .largeFont{
    margin: 0px;
    font-size: 36px;
    font-weight: normal;
    line-height: 1.2;
}

.posdetail .detail.NEW{
    background-color: #4F4149;
}

.posdetail .detail.BUY{
    background-color: #4F4149;
}

.posdetail .detail.SELL{
    background-color: #415F69;
}

.posdetail .list{
    margin-bottom: 0px;
}

.posdetail .button.button-block{
    margin: 3px;
    width: 90%;
    height : 60px;
}

.posdetail .row,
.posdetail .col{
    padding: 0px;
}

.posdetail .item {
    padding: 5px;
}
.posdetail .item .col.R,
.posdetail .item span.R{
    color: #f00;
}
.posdetail .item .col.G,
.posdetail .item span.G{
    color: #0f0;
}

.posdetail .pos-box{
    height: 56px;
    width: 96px;
    display: inline-block;
    float: left;
    text-align: center;
    padding-top: 6px;
    margin: 2px;
}

.posdetail .pos-box.red {
    background-color: red;
}

.posdetail .pos-box.green {
    background-color: green;
}

/*positions*/

.pos_container .col {
    padding : 5px 1px;
}
.pos_container .col.R {
    color: #f00;
}
.pos_container .col.G {
    color: #0f0;
}

.pos_container .col-offset-4 {
    margin-left: 2%;
}

.pos_container .col-15 {
    flex: 0 0 20%;
    max-width: 20%;
}

.pos_container .col-33 {
    flex: 0 0 29%;
    max-width: 29%;
}

.pos_container .row {
    padding: 0px 5px;
    font-size: 14px;
}
.pos_container .item-divider .row {
    font-size: 16px;
}

.pos_container .card {
    background-color: #2C3940;
    border-radius: 0px;
    margin: 5px 3px;
}

.pos_container .card .icon{
    font-size: 20px;
    display: inline-block;
}
.pos_container .card .ion-arrow-up-c{
    color : red;
    transform: rotate(45deg);
}
.pos_container .card .ion-arrow-down-c{
    color : green;
    display: inline-block;
    transform: rotate(-45deg);
}

.pos_container .card .item{
    padding: 0px;
}

.pos_container .card .item.SELL{
    background-color: #415F69;
}

.pos_container .card .item.BUY{
    background-color: #4F4149;
}

.pos_container .card .item-divider{
    background-color: #2C3940;
}


/*quote*/
.qt_container{
    width: 100%;
    font-size: 14px;
}

.qt_rwrapper, .qt_cwrapper {
    overflow: hidden;
    position: absolute;
    z-index: 1004;
    background-color: #666;
}

.qt_rwrapper {
    top: 44px;
}

.qt_cwrapper {
    top:44px;
    left:0px;
}

table.qt_rc {
    background-color: #666;
    position: absolute;
    top:44px;
    z-index: 1005;
    width: 70px;
}

table.qt_r{
    width: 490px;
    position: relative;
}

table.qt_c{
    width: 70px;
    position: relative;
}

table.qt{
    width: 70px;
}

table.quote {
    table-layout:fixed;
    text-align:center;
    border-collapse: collapse;
}

table.quote tr.odd:first-child{
    border-top: 1px solid #eee;
}

table.quote tr.even{
    border-bottom: 1px solid #eee;
}

table.quote.qt_r thead{
    border-bottom: 2px solid #eee;
}

table.quote td:first-child {
    /*border-left: 1px solid #666;*/
}
table.quote td {
    /*border-right: 1px solid #666;*/
    table-layout:fixed;
    height: 20px;
    width: 70px;

    white-space: nowrap;
    overflow:hidden;
    color: #fff;
}

table.quote td:not(:first-child){
    text-align: right;
}

table.quote td.r, table.quote td.R{
    color: #F00;
}
table.quote td.g, table.quote td.G{
    color: #0F0;
}

/*popup-other-pos*/
.popup-other-pos .item.BUY{
    background-color: #4F4149;
}

.popup-other-pos .item.SELL{
    background-color: #415F69;
}

.popup-other-pos .item .R{
    color: #F00;
}

.popup-other-pos .item .G{
    color: #0F0;
}

